/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic)


body
  display: flex
  background-color: #7DA592
  font-family: 'Lato', sans-serif
  justify-content: center

// #logged-out
//   background-image: url('bg.jpeg')
//   background-repeat: no-repeat
//   background-size: cover
//
// #logged-in
//   background-color: #b6d4be

li
  display: flex
  list-style-image: none

#content
  display: flex
  align-self: stretch
  align-items: center

#app-container
  display: flex
  flex-direction: column
  align-items: center

#nav-bar
  display: flex
  align-self: stretch
  justify-content: space-between
  background-color: #3E604F
  height: 90%

#nav-bar-login
  display: flex
  height: 50%
  order: 10

#app-header
  display: flex
  align-self: center
  height: 75%
  order: 1

#login-form-container
  display: flex
  width: 400px
  height: 300px
  justify-content: space-between
  flex-direction: column
  align-items: center
  background-color: #EDEDCE

.sporting-good-index-container
  display: flex
  align-self: center
  justify-content: space-between
  flex-direction: column
  align-items: center
  background: #EDEDCE

.sporting-good-index-title
  display: flex

.sporting-good-index-pics
  display: flex
  width: 200px
  height: 200px

#sporting-good-container
  display: flex
  width: 100px
  height: 100px
  justify-content: space-between
  flex-direction: column
  align-items: center
  background: rgba(gray, 0.5)

.user-form-fields
  display: flex

.user-submission-button
  display: flex
  align-self: flex-end

.render-another-form
  display: flex

.sporting-good-index
  width: 300px


.sporting-good-index-item
  display: flex
  align-self:center
  height: 30%
  width: 30%

.sporting-good-index-title
  display: flex
  order: 10

.sporting-good-container
  display: flex
  width: 200px
  align-self: center
  align-items: flex-end
  order: 1


.sporting-good-show-pic-description
  display: flex

.sporting-good-show-pic
  display: flex
  max-height: 30%
  max-width: 30%
