

.login-form-container {
  display: flex;
  justify-content: center;
  // background-color: #D9B1A3;
  width: 65%;
  height: 100%;
  margin: 10px auto;
  // padding-top: 30px;
  // padding: 40px;
  // border: solid 1px #3A4039;
}

.user-form {
  margin-left:auto;
  margin-right:auto;
  min-height: 150px;
  max-width: 500px;
  background: #b8e4d2;
  padding: 20px 20px 20px 20px;
  color: #666;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.user-form h2 {
  text-align: center;
  font-weight: bold;
  padding: 10px 10px 10px 20px;
  display: block;
  background: #93d6bb;
  border-bottom: 1px solid #81cdaf;
  margin: -20px -20px 15px;
}
h1 img {
  cursor: pointer;
}

.email {
  color: #888;
  width: 70%;
  padding: 0px 0px 0px 5px;
  border: 1px solid #81cdaf;
  background: #FBFBFB;
  outline: 0;
  -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
  box-shadow: inset 0px 1px 6px #ECF3F5;
  height: 30px;
  line-height:15px;
  margin: 2px 6px 16px 0px;
}

.password {
  color: #888;
  width: 70%;
  padding: 0px 0px 0px 5px;
  border: 1px solid #81cdaf;
  background: #FBFBFB;
  outline: 0;
  -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
  box-shadow: inset 0px 1px 6px #ECF3F5;
  height: 30px;
  line-height:15px;
  margin: 2px 6px 16px 0px;
}

section.user-button-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.user-button {
  padding: 10px 30px 10px 30px;
  background: #6fc8a3;
  border: none;
  color: #333333;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  max-height: 45px;
  box-shadow: 1px 1px 1px #4C6E91;
  -webkit-box-shadow: 1px 1px 1px #4C6E91;
  -moz-box-shadow: 1px 1px 1px #4C6E91;
  // text-shadow: 1px 1px 1px #5079A3;
}

.user-button-active {
  padding: 10px 30px 10px 30px;
  background: #213c30;
  border: none;
  color: white;
  margin: 10px;
  font-weight: bold;
  max-height: 45px;
  box-shadow: 1px 1px 1px #4C6E91;
  -webkit-box-shadow: 1px 1px 1px #4C6E91;
  -moz-box-shadow: 1px 1px 1px #4C6E91;
  // text-shadow: 1px 1px 1px #5079A3;
}

.user-button:hover {
  background: #41aa7e;
  cursor: pointer;
}

section.user-form-fields {
  display: flex;
  flex-wrap: nowrap;
}

.user-form-label {
  padding-top: 10px;
  margin-right: 5px;
}
.modal-field {
  display: flex;
  width: 100%;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
.new-listing {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 260px
}
.cancel{
  margin-left: 260px;
}

form#request-form {
  margin-top: 30px;
}
.request-heading {
  text-align: center;
}
.request-button-container {
  margin-left: 190px;

}
.cancel-request {
  margin-left: 215px;
}
div#sporting-good-edit {
  display: flex;
  justify-content: center;
}
.edit-heading {
  margin-bottom: 30px;
}
.update-button-container {
  margin-left: 195px;
}
.login-page {
  display: flex;
  flex-direction: column;
}
