body {
  background-color: #eff9f5;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  height: 100vh;
}


.app-background {
  background-image: image-url('camping.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
#app-container {
  height: 100%;
}
#content {
  height: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #153729;
  -webkit-box-shadow: 0px 5px 11px -1px rgba(161,158,161,1);
  -moz-box-shadow: 0px 5px 11px -1px rgba(161,158,161,1);
  box-shadow: 0px 5px 11px -1px rgba(161,158,161,1);
}
header h1 {
  padding: 8px;
  color: #b6e3d0;
}

.welcome-home {
  color: #ffffee;
  font-size: 45px;
  text-align: center;
  margin-top: 50px;
  text-stroke: 10px #000;
  text-shadow: 0px 0px 3px #000;
  font-weight: 700;
}
.tagline {
  color: #ffffee;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  text-stroke: 10px #000;
  text-shadow: 0px 0px 3px #000;
  font-weight: 700;
}
.greeting {
  font-size: 20px;
  color: #ffffed;
  padding-top: 60px;
  padding-left: 300px;
}
#map {
  width: 400px;
  height: 500px;
}
.nav-buttons {
  padding: 15px;
  cursor: pointer;
}
.nav-buttons:hover {
  color: #a8dec7;
}
.hide-nav-buttons {
  display: none;
}
.profile-link {
  position: relative;
  width: 200px;
  text-align: right;
  color: #b8e4d2;
}
.profile-link:hover {
  color: #F2F6F7;
}
.profile-hover {
  padding-top: 25px;
  padding-right: 5px;
  padding-bottom: 10px;
  font-size: 40px;
}
.nav-buttons:hover ul {
  display: block;
  background-color: #d2eee2;
  position: absolute;
  font-size: 20px;
  top: 90px;
  left: -40px;
  width: 250px;
  z-index: 2;
}
.dropdown {
  display: none;
  text-align: left;
  color: #3A4039;
}

.dropdown li {
  padding: 15px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.dropdown li:hover {
  background-color: #6fc8a3;
}
.link {
  color: #0000FF;
  text-decoration: underline;
}
.link:hover {
  cursor: pointer;
}
.click-filter-container {
  display: flex;
  flex-direction: row;
}
.click-filter-all {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-left: 5px;
  -webkit-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  -moz-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);

}
.show-all-button-container {
  width: 150px;
}
// click filter
.click-filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 375px;
  color: #5d5d5d;
}
.click-filter-all {
  display: flex;
  width: 120px;
  background-color: #85d2b2;
  color: #797478;
  padding: 10px;

}
.filter-header {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: large;
  color: #515151;
  border-bottom: 1px solid #5d5d5d;
}
.map-sg-index {
  display: flex;
  align-self: flex-start;
  margin: 8px 10px;
  border: 2px solid #40a87d;
  -webkit-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  -moz-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);

}
.list-group {
  display: flex;
  max-width: 700px;
  min-width: 500px;
  max-height: 650px;
  overflow: scroll;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 25px;
}
.checkbox {
  display: flex;
  padding-left: 5px;
}
.checkbox-label{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.label-text {
  padding-left: 5px;
}
.modal-title {
  text-align: center;
  font-weight: bold;
  padding: 5px;
  border-bottom: 1px solid #CCC;
}
.modal {
  background-image: image-url('cream_dust.png');
  border: 1px solid #ccc;
  // background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  color: #515151;
  z-index: 11;
  width: 350px;
  height: 400px;
}
