body {
  background-color: #eff9f5;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #153729;
}
header h1 {
  padding: 15px;
  color: #b6e3d0;
}
.nav-buttons {
  padding: 15px;
  cursor: pointer;
}
.nav-buttons:hover {
  color: #a8dec7;
}
.profile-link {
  position: relative;
  width: 200px;
  text-align: right;
  color: #b8e4d2;
}
.profile-link:hover {
  color: #F2F6F7;
}
.nav-buttons:hover ul {
  display: block;
  background-color: #d2eee2;
  position: absolute;
  top: 30px;
  left: 15px;
  width: 200px;
}
.dropdown {
  display: none;
  text-align: right;
  color: #3A4039;
}

.dropdown li {
  padding: 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.dropdown li:hover {
  background-color: #6fc8a3;
}
