// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.completed-request-deny {
  background-color: #680000;
  opacity: 0.6;
  width: 100%;
  height: 40%;
  z-index: 2;
}
.completed-request-container {
  display: relative;
  max-width: 1000px;
  flex-direction: column;
  max-height: 500px;
  border: 1px solid grey;
}

.pending-request {
  background-color: #FFFF66;
  opacity: 0.6;
  width: 100%;
  height: 40%;
  z-index: 2;
}
.received-request-pic {
  width: 600px;
  height: 400px;
}

.outer-box {
  width: 900px;
  height: 250px;
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 10px;
  margin-top: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.outer-box-p {
  width: 900px;
  height: 250px;
  display: block;
  position: relative;

  padding-bottom: 10px;
  margin-top: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.inner-box:after
{
    content:"APPROVED";
    position:absolute;
    top:70px;
    left:195px;
    z-index:1;
    font-family:Arial,sans-serif;
    -webkit-transform: rotate(-10deg); /* Safari */
    -moz-transform: rotate(-10deg); /* Firefox */
    -ms-transform: rotate(-10deg); /* IE */
    -o-transform: rotate(-10deg); /* Opera */
    transform: rotate(-10deg);
    font-size:94px;
    color: #083105;
    background:#fff;
    border:solid 4px #083105;
    padding:5px;
    border-radius:5px;
    zoom:1;
    filter:alpha(opacity=20);
    opacity:0.2;
    -webkit-text-shadow: 0 0 2px #083105;
    text-shadow: 0 0 2px #083105;
    box-shadow: 0 0 2px #083105;
}
.inner-box-d:after
{
    content:"DENIED";
    position:absolute;
    top:70px;
    left:265px;
    z-index:1;
    font-family:Arial,sans-serif;
    -webkit-transform: rotate(-10deg); /* Safari */
    -moz-transform: rotate(-10deg); /* Firefox */
    -ms-transform: rotate(-10deg); /* IE */
    -o-transform: rotate(-10deg); /* Opera */
    transform: rotate(-10deg);
    font-size:94px;
    color:#c00;
    background:#fff;
    border:solid 4px #c00;
    padding:5px;
    border-radius:5px;
    zoom:1;
    filter:alpha(opacity=20);
    opacity:0.2;
    -webkit-text-shadow: 0 0 2px #c00;
    text-shadow: 0 0 2px #c00;
    box-shadow: 0 0 2px #c00;
}
.inner-box-p:after {
  content: "PENDING";
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 1;
  font-family: Arial,sans-serif;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  font-size: 74px;
  color: black;
  background: #fff;
  border: solid 4px black;
  padding: 5px;
  border-radius: 5px;
  zoom: 1;
  filter: alpha(opacity=20);
  opacity: 0.2;
  -webkit-text-shadow: 0 0 2px black;
  text-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
}

.outer-box img {
  width: 400px;
  height: 100%;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.outer-box-p img {
  width: 400px;
  height: 100%;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.received-request-detail {
  top: 0;
  left: 415px;
  top: 10px;
  position: absolute;
  font-size: 18px;
}

.outer-box .inner-box {
  background: #758f84;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  opacity: .6;
  transition: opacity .5s;
  border-bottom: 1px solid grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  -moz-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
}
.outer-box .inner-box-d {
  background: #AB241E;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  opacity: .6;
  transition: opacity .5s;
  border-bottom: 1px solid grey;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  -moz-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
}
.outer-box-p .inner-box-p {
  background: #dce362;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  opacity: .9;
  transition: opacity .5s;

  margin-bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  -moz-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
}
.APPROVED {
  position: absolute;
  top: 150px;
  left: 200px;
  width: 100%;
  font-size: 100px;
  color: darken(black, 30%);
  opacity: 0.9;
}
.DENIED {
  position: absolute;
  top: 150px;
  left: 250px;
  width: 100%;
  font-size: 100px;
  color: black;
  opacity: 0.9;
}
.PENDING {
  position: absolute;
  top: 25px;
  left: 80px;
  width: 100%;
  font-size: 60px;
  color: black;
}
.received-request-pic-p {
  opacity: 1.0;
  width: 600px;
  height: 400px;
}

.approve-deny-form {
  align-items: flex-end;
  padding-top: 0;
  margin: 0;
  padding-right: 30px;
  padding-top: 10px;
  position: relative;
  top: -100px;
  z-index: 1;
  left: -60px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.inbox-h1-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.requests-sent-container {
  margin: 10px;
}
.approve-deny-radio {
  position: relative;
  left: -18px;
}
.tabrow {
  text-align: center;
  list-style: none;
  /* margin: 200px 0 20px; */
  padding: 0;
  line-height: 35px;
  height: 37px;
  overflow: hidden;
}

.tabrow-1 {
  border: 1px solid #AAD8AC;
  margin-left: 5px;
  margin-top: 10px;
  background: -webkit-linear-gradient(top, #B1DFB3 50%, #D4DFD4 100%);
  display: inline-block;
  position: relative;
  z-index: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  text-shadow: 0 1px #FFF;
  margin: 0 -5px;
  padding: 0 30px;
  cursor: pointer;
}
.group-requests {
  background-color: #d0ebd1;
  width: 95%;
}
.tabrow-2 {
  cursor: pointer;
    margin-top: 10px;
  border: 1px solid #AAD8AC;
  margin-left: 5px;
  background: -webkit-linear-gradient(top, #ADB0AD 50%, #D4DFD4 100%);
  display: inline-block;
  position: relative;
  z-index: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  text-shadow: 0 1px #FFF;
  margin: 0 -5px;
  padding: 0 30px;

}
.tabrow-2:hover{
  background: -webkit-linear-gradient(top, #7bc97e 50%, #D4DFD4 100%);
}
.tabrow a {
  color: #555;
  text-decoration: none;
}


.tabrow:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  border-top: 1px solid #AAA;
  z-index: 1;
}

.tabrow li:before,
.tabrow li:after {
  border: 1px solid #AAA;
  position: absolute;
  top: -1px;
  width: 6px;
  height: 6px;
  content: "";
}

.tabrow li:before {
  left: -7px;
  border-top-right-radius: 6px;
  border-width: 1px 1px 0px 0px;
  box-shadow: 2px 0px 0 #ECECEC;
}

.tabrow li:after {
  right: -7px;
  border-top-left-radius: 6px;
  border-width: 1px 0px 0px 1px;
  box-shadow: -2px 0px 0 #ECECEC;
}

.tabrow li.selected:before {
  box-shadow: 2px 0px 0 #FFF;
}

.tabrow li.selected:after {
  box-shadow: -2px 0px 0 #FFF;
}
