// show page
.sporting-good-show-pic {
  height: 400px;
  overflow: hidden;
  width: 600px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 5px;
  -webkit-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  -moz-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
}

.sporting-good-show-pic-description {
  border-radius: 5px;
  border: solid 1px #CCC;
  padding: 5px 0 5px 5px;
  background-color: #fdfefe;
  text-align: center;
  overflow: auto;
  margin: 15px;
  box-shadow: 3px 3px 11px -1px #a19ea1;
  height: 380px;
  width: 350px;
  padding: 10px;
}
.show-description-title {
  font-weight: bold;
  margin-bottom: 10px;
}
div#sporting-good-container {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.sporting-good-row-1 {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

// index page
.sporting-good-index-container {
  display: flex;
  flex-direction: column;
}

.sporting-good-index-item {

  float: left;
  color: #797478;
  margin: 1px 1px 5px 1px;
}
.new-listing-wrap {
    display: flex;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    max-width: 20%;
    margin-top: 5px;
    margin-right: 10px;

}

.sporting-good-index-item img {
  height: 210px;
  overflow: hidden;
  width: 210px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 3px;
	cursor: pointer;
  -webkit-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  -moz-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
}

.sporting-good-index-item img:hover {
  opacity: .8;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition: -webkit-transform 1s;
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px #000;
  box-shadow: 0px 0px 4px #000;

}

.sporting-good-index-item-category {
  background-color: #eff9f5;
  text-align: center;
}
.sporting-good-index-view {
  display: flex;
}
//sporting good edit
.sporting-edit-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 400px;
  align-items: center;

}
//sporting good form
.sporting-good-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.show-all-button-container {
  align-self: center;
}
//show
.group-requests {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.completed-request-container {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #fdfefe;
  border: 1px solid
}
.received-request-image {
  height: 400px;
  width: 600px;
  overflow: hidden;
  border-radius: 5px;
  margin: 1px;
  margin-bottom: 10px;
}

.sporting-good-container-ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}
.success-message {
  text-align: center;
  background-color: #6fc1c8;
  color: #e1f2f3;
  opacity: 0.9;
  height: 40px;
  width: 100%;
  padding-top: 12px;
  z-index: 10;
}
.show-page-buttons {
  display: flex;
  width: 100%;

}
.show-page-buttons-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-left: 1000px;
}
.request-form-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.request-header {
  font-weight: 500
}
.request-dates {
  font-weight: 400;
  margin-top: 50px;
  text-align: center;
}
.show-edit-delete-container {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.wants-to-borrow {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}
.request-dates {
  font-weight: 400;
  font-size: 20px;
  margin-top: 15px;
}
a.back-to-listings {
  padding: 8px;
  text-decoration: none;
  color: #1a4533;
}
a.back-to-listings:hover {
  color: #3a9a72;
}
