// show page
.sporting-good-show-pic {
  // display: flex;
  // width: 200px;
  // height: 200px;

  height: 300px;
  overflow: hidden;
  width: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 5px;
}

.sporting-good-show-pic-description {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border:solid 1px #46b688;
  padding:5px;
  background-color: #eff9f5;
  max-height: 200px;
  max-width: 40%;
  min-width: 200px;
  overflow: auto;
  margin: 5px;
}
.sporting-good-row-1 {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

// index page
.sporting-good-index-container {
  display: flex;
  flex-direction: column;
}

.sporting-good-index-item {

  float: left;
  color: #797478;
  margin: 1px 1px 5px 1px;
}
.new-listing-wrap {
    display: flex;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-start;
    max-width: 20%;
    margin-top: 5px;

}

.sporting-good-index-item img {
  height: 210px;
  overflow: hidden;
  width: 210px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 3px;
	cursor: pointer;
  -webkit-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  -moz-box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
  box-shadow: 3px 3px 11px -1px rgba(161,158,161,1);
}

.sporting-good-index-item img:hover {
  opacity: .8;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition: -webkit-transform 1s;
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px #000;
  box-shadow: 0px 0px 4px #000;

}

.sporting-good-index-item-category {
  background-color: #eff9f5;
  text-align: center;
}
.sporting-good-index-view {
  display: flex;
}
//sporting good edit
.sporting-edit-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  align-items: flex-start;
}
//sporting good form
.sporting-good-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.show-all-button-container {
  align-self: center;
}
//show
.group-requests {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.completed-request-container {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #fdfefe;
  border: 1px solid
}
.received-request-image {
  height: 400px;
  width: 600px;
  overflow: hidden;
  border-radius: 5px;
  margin: 1px;
}
.received-request-index-item {

}
